@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    border: 0;
}

body{
    /*background-color: #000; */
    background-image: url(../asset/bgH4tz.gif);
    color: #FFF;
    font-family: "Inter", sans-serif;
}

.cabecalho{
    margin-top: 15px;
}

.apresentacao{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 70%;
    height: 450px;
    gap: 3%;
}

.apresentacao__caixaCodificadora{
    margin-top: 1%;
    padding: 1%;
    box-sizing: content-box;
    border: 3px dashed #0f5a05;
    text-align: center;
    max-width: 250px;
}

textarea{
    width: 100%;
    padding: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #90d890;
    outline: none;
    background: none;
    font-size: 1.3rem;
}

.apresentacao__caixaCodificadora__caixaTexto{
    height: 82%;
}

.apresentacao__caixaDecodificadora__caixaTexto{
    height: 78%;
}

.apresentacao__caixaCodificadora__texto__info{
    display: flex;
    align-items: center;
    font-size: 0.68rem;
    margin-bottom: 3%;
}

.apresentacao__caixaCodificadora__texto__info img{
    padding-right: 2%;
}

.apresentacao__caixaCodificadora__botoes{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    box-sizing: content-box;
    margin-bottom: 3%;
}

.botoes__style{
    color: #FFFFFF;
    background-color: #0f5a05;
    font-size: 0.8rem;
    margin-top: 2px;
    padding: 3%;
    width: 48%;
}

.botoes__style:hover{
    background-color: #338528;
}

.apresentacao__caixaDecodificadora{
    margin-top: 1%;
    padding: 1%;
    box-sizing: content-box;
    border: 3px dashed #0f5a05;
    text-align: center;
    max-width: 250px;
}

.apresentacao__caixaDecodificadora__botao__copy{
    width: 100%;
    margin-bottom: 3%;
    
}

.apresentacao__caixaDecodificadora img{
    width: 200px;
    margin-bottom: 1%;
}

.rodape{
    display: flex;
    position: absolute;
    bottom: 0%;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: center;
    background: ;
    color: #FFF;
    font-size: 0.8rem;
}


@media screen and (max-width: 550px){

    body{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .cabecalho{
        margin-top: 15px;
        margin-bottom: 15px;
        text-align: center;
    }

    .apresentacao__caixaCodificadora{
        margin-bottom: 15px;
    }

    .apresentacao__caixaDecodificadora{
        margin-bottom: 15px;
    }
    
    .apresentacao__caixaCodificadora__caixaTexto{
        height: 150px;
    }
    
    .apresentacao__caixaDecodificadora__caixaTexto{
        height: 100px;
    }
    
    .apresentacao__caixaCodificadora__texto__info{
        align-items: center;
        font-size: 0.68rem;
    }
    
    .apresentacao__caixaCodificadora__texto__info img{
        padding-right: 5%;
    }
    
    .apresentacao__caixaDecodificadora img{
        width: 100px;
        margin-top: 3%;
        margin-bottom: 1%;
    }

    .rodape{
        display: unset;
        margin-top: 60px;
        font-size: 12px;
        text-align: center;
    }
}